@mixin center_item{
  display: flex;
  align-items:center;
  justify-content:center;
}
.grid{
  width:100vw;
  height:100vh;
  display:grid;
  grid-template-rows:20% 80%;
   background: linear-gradient(180deg, rgba(136, 41, 198, 0.36) 0%, rgba(208, 26, 136, 0.1728) 38.94%, rgba(0, 0, 0, 0) 135.94%);
   .title{
      @include center_item;
      font-family: 'Poppins', sans-serif;
      font-size:2.5rem;
      font-weight: 700;
      background: rgb(48,239,249);
      background: linear-gradient(106deg, rgba(48,239,249,1) 10%, rgba(24,235,50,1) 93%); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   }
}
.fifth_page{
  
  flex-direction:row;
  @include center_item;
 

  .border-gradient {
    border: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
  }
  .border-gradient-purple {
    border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
  }
  .circle{
    background: linear-gradient(134.16deg, #8729C8 6.12%, #C91C8E 87.2%);
    border-radius:50%;
    height:10rem;
    width:10rem;
    position:relative;
    top:-8rem;
    left:-6rem;
  }
  .title{
    width:100vw;
    height:20vh;
  }
  .each{
    height:30rem;
    width:26rem;
    margin:0 3rem;
    backdrop-filter: blur(31px);
    @include center_item;
    flex-direction:column;
    padding:0 1rem;
    .heading,.sub_heading,.fifth_page.title{
        font-family: 'Poppins', sans-serif;
        font-size:2.5rem;
        font-weight: 700;
        color:white;
    }
    .sub_heading{
       background: rgb(201,44,178);
      background: linear-gradient(106deg, rgba(201,44,178,1) 10%, rgba(15,168,219,1) 70%); 
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .meta{
      font-size:1.5rem;
      color: #9A9A9A;
      margin-top:3rem;

    }
  }
}