body{
  background: #1C151F;
}
@mixin center_item{
  display: flex;
  align-items:center;
  justify-content:center;
}

.first_page{
  overflow-x:hidden;
  height: 100vh;
  background: rgb(61,34,64);
  background: radial-gradient(circle, rgba(61,34,64,1) 0%, rgba(28,21,31,1) 34%); 
  width:100vw;
  @include center_item;
  flex-direction: column;
  padding-top:1rem;
  .heading,.multiply{
    font-family: 'Poppins', sans-serif;
    font-size:3.5rem;
    font-weight: 700;
    color:white;
    margin: 0 calc(1.6vh + 1.6vw);
  }
  .sub_heading{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    color: #9A9A9A;
    margin-top:8rem;
  }
  .multiply{
     background: rgb(48,239,249);
      background: linear-gradient(106deg, rgba(48,239,249,1) 10%, rgba(24,235,50,1) 93%); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
@media only screen and (max-height: 600px){
  .first_page{
        height:150vh;
  }
   
}
.bt1 {
        margin:0 4rem;
        margin-top:calc(0.5vh + 0.5vw);
        border: none;
        padding: 1em;
        outline: none;
        color: white;
        text-transform: uppercase;
        font-weight: 900;
        font-style: 1.2em;
        font-size:1.2rem;
        letter-spacing: 0.1em;
        position: relative;
        z-index: 1;
        cursor: pointer;
        background: none;
        text-shadow: 3px 3px 10px rgba(0,0,0,.45);
        &:before, &:after {
          position: absolute;
          top: 50%;
          left: 50%;
          border-radius: 10em;
          transform: translateX(-50%) translateY(-50%);
          width: 15rem;
          height: 3.5rem;
          content: '';
          z-index: -2;
          background-size: 400% 400%;
         background: linear-gradient(90deg, #752DD7 -12.09%, #D81981 100%);

        }
        &:before {
          filter: blur(7px);
          transition: all .25s ease;
          animation: pulse 10s infinite ease;
        }
        &:after {
          filter: blur(0.3px);
        }
        &:hover {
          &:before {
            width: 16rem;
            height: 4rem;
          }
        }
      }


  .outer_first_page .first_page .invest_button .bt1{
      margin-top:4rem;
  }
@media only screen and (min-height: 1250px) and (max-width:720px){
  .first_page{
      height:50vh;
      font-size:15rem;
      padding-top:10rem;
  }
  .outer_first_page .first_page .invest_button {
    @include center_item;
    margin-top:4rem;
    .bt1{margin-top:0;}
  }
}
