html,body{margin:0;padding:0;}
@mixin center_item{
  display: flex;
  align-items:center;
  justify-content:center;
}

.navbar_outer{
  position:fixed;
  z-index:100;
  background: rgba(0,0,0,0.7);
  backdrop-filter: saturate(180%) blur(10px);
  width:100vw;
  height:5rem;

  .navbar{
    height:100%;
    @include center_item;
    flex-direction:row;
    color:white;
    .common{
      margin-right:2rem;
      font-family: 'Poppins', sans-serif;
      font-weight: 400;
      font-style: 1.2em;
      font-size:1rem;
      text-decoration:none;
      color:white;
    }
    .common:hover{
      color:green;
      cursor:pointer;

    }
    .logo,.sign_up,.sign_in{
        width:100%;
        height:100%;
        @include center_item;
        box-sizing:border-box;
    }
    .sign_up,.sign_in{
      width:10rem;
      height:2rem;
      margin-right:10rem;
    }
    .sign_up{
      margin-right:2rem;
    }
    button {

        margin-left:1rem;
        border: none;
        padding: 1em;
        outline: none;
        color: white;
        font-weight: 700;
        font-style: 1.2em;
        font-size:0.8rem;
        letter-spacing: 0.1em;
        position: relative;
        z-index: 1;
        cursor: pointer;
        background: none;
        text-shadow: 3px 3px 10px rgba(0,0,0,.45);
        &:before, &:after {
          position: absolute;
          top: 50%;
          left: 50%;
          border-radius: 10em;
          transform: translateX(-50%) translateY(-50%);
          width: 8rem;
          height: 2.2rem;
          content: '';
          z-index: -2;
          background-size: 400% 400%;
         background: linear-gradient(90deg, #752DD7 -12.09%, #D81981 100%);

        }
        &:before {
          filter: blur(7px);
          transition: all .25s ease;
          animation: pulse 10s infinite ease;
        }
        &:after {
          filter: blur(0.3px);
        }
        &:hover {
          &:before {
            width: 115%;
            height: 115%;
          }
        }
      }
    .logo{  
            #inner_logo:hover{
                color:green;
            }
            font-family: 'Poppins', sans-serif;
            font-size:1.6rem;
            font-weight: 700;
            justify-content:start;
            padding-left:10rem;
            text-decoration:none;
            color:white;
    }
    
    @keyframes logo{
      0%{
        font-size:1rem;
      }
      50%{
        font-size:2rem;
      }
      100%{
        font-size:1rem;
      }
    }
   
  }

}

.footer{
    
    background: black;
    width: 100vw;
    height: 6rem;
    display: grid;
    grid-template-columns: 60% repeat(4,10%);
    color: white;
    .logo{
        font-family: 'Poppins', sans-serif;
            font-size:2rem;
            font-weight: 400;
    }
  div{
    @include center_item;
  }
  div:not(:first-child){
    font-family: 'Poppins', sans-serif;
    font-size:1rem;
  }
}
.line1-1{
  width: 100vw;
  height: 6px;
  background: linear-gradient(270deg, #832ACB 0%, #D31A85 100%);
  margin-bottom: 1rem;

}
@media only screen and (max-height: 820px) {
  
  .navbar_outer .navbar {
    .logo{
      padding-left:2rem;
    }
    .sign_up,.sign_in{display:none;}
  }
  
  
}