@mixin center_item{
  display: flex;
  align-items:center;
  justify-content:center;
}

.outer_box{
	width:100vw;
	height:100vh;
	@include center_item;
	margin-top:8rem;
	flex-direction:row;

	.first_box{
		width:40%;
		height:100%;
		padding-left:3rem;
		.common{
			text-align:left;
		}
		margin-top:10rem;
		.title,.sub_heading{
			font-family: 'Poppins', sans-serif;
	        font-size:2.5rem;
	        font-weight: 700;
	        color:white;
	        
		}
		.meta{
			color: #9A9A9A;
			font-size:1.5rem;
			margin-top:2rem;
		}
		.sub_heading{
			 background: rgb(219,50,235);
			background: linear-gradient(270deg, rgba(219,50,235,0.99327724253764) 7%, rgba(46,244,187,1) 100%); 
			-webkit-background-clip: text;
    	-webkit-text-fill-color: transparent;
		}
	}
	.border-gradient {
	  border: 10px solid;
	  border-image-slice: 1;
	  border-width: 5px;
	}
	.border-gradient-purple {
	  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
	}$inner_box_height:60%;
	.second_box{
		position:relative;
		left:calc((100vw / 20vw) * 3rem + 2rem);
		width:calc(50% + (100vw / 20vw) * 5%);
		height:100%;
		
		.inner_box{
			width:80%;
			height:$inner_box_height;



			box-shadow: #CC1B8B 0px 22px 100px 4px;
			.common{
				text-align:left;
				margin-left:3rem;
			}
			#xeno{
				margin-bottom:calc(($inner_box_height / 30%) * 1rem);
				margin-top:2rem;
				width:100%;
				font-family: 'Poppins', sans-serif;
		        font-size:calc(($inner_box_height / 30%) * 1rem);
		        font-weight: 700;
		        color:white;
			}
			#title{
				
				width:100%;
				font-family: 'Poppins', sans-serif;
		        font-size:calc((100vh / 40vh) * 1rem);
		        font-weight: 700;
		        color:white;
			}
			#title2{
				margin-bottom:2rem;
				width:100%;
				font-family: 'Poppins', sans-serif;
		        font-size:calc((100vh / 50vh) * 1rem);
		        font-weight: 700;
				 background: rgb(219,50,235);
				background: linear-gradient(270deg, rgba(219,50,235,0.99327724253764) 7%, rgba(46,244,187,1) 100%); 
				-webkit-background-clip: text;
	    		-webkit-text-fill-color: transparent;
			}
			#meta{
				width:100%;
				margin-bottom:1rem;
				color: #9A9A9A;
				font-size:1rem;
			}
			input {
				width:70%;
				height:5%;
				background:transparent;
				border:0;
				color:white;
				font-size:2rem;
				border-bottom: 5px solid #9A9A9A;
				margin-bottom:1rem;

			}
			.input1{margin:0;}
			
		}
	}
}
			#buttons{
				button {
				  border: none;
				  padding: 1em;
				  margin:2rem 4rem;
				  outline: none;
				  color: white;
				  text-transform: uppercase;
				  font-weight: 900;
				  font-style: 1.2em;
				  letter-spacing: 0.2em;
				  position: relative;
				  z-index: 1;
				  cursor: pointer;
				  background: none;
				  text-shadow: 3px 3px 10px rgba(0,0,0,.45);
				  &:before, &:after {
				    position: absolute;
				    top: 50%;
				    left: 50%;
				    border-radius: 10em;
				    transform: translateX(-50%) translateY(-50%);
				    width: 200%;
				    height: 150%;
				    content: '';
				    z-index: -2;
				    background-size: 400% 400%;
				   background: linear-gradient(90deg, #752DD7 -12.09%, #D81981 100%);

				  }
				  &:before {
				    filter: blur(7px);
				    transition: all .25s ease;
				    animation: pulse 10s infinite ease;
				  }
				  &:after {
				    filter: blur(0.3px);
				  }
				  &:hover {
				    &:before {
				      width: 115%;
				      height: 115%;
				    }
				  }
				}
			}

@media only screen and (max-height: 730px){
   .second_box .inner_box{
   		#xeno{font-size:1rem;}
   }
   .second_box #buttons{
   		text-align:center;
   		position:relative;
   		top:-80%;
   		right:-20%;
   }
   .second_box #bt11,.second_box #bt22{
   				padding:0.5em;

   }
}
@media only screen and (max-height: 680px){
   
   .second_box #buttons{
   		
   		top:-90%;
   		right:-20%;
   }
   
}
@media only screen and (max-height: 600px){
   
   .second_box #buttons{
   		
   		top:-85%;
   		right:-10%;
   }
   
}
@media only screen and (max-width: 1200px){
   
   .outer_box .second_box #buttons{
   		#bt11,#bt22{
   			width:3rem;
   		}
   		#bt22,#bt11{
   			margin-left:1rem;
   		}
   }
   
}
@media only screen and (max-width: 830px){
   
   .outer_box .second_box #buttons{
   		#bt11,#bt22{
   			width:2rem;
   			font-size:0.8rem;
   			padding-left:0;
   		}
   		#bt11{margin-right:1.5rem;}
   		#bt22,#bt11{
   			margin-left:1rem;
   		}
   }
   
}
@media only screen and (max-height: 600px){
   .outer_box .second_box .inner_box #title{
   			font-size:1.5rem;
   }
   .outer_box .second_box .inner_box #title2{
   			font-size:1.5rem;
   }
   .outer_box .second_box .inner_box #meta{
   			font-size:0.7rem;
   }
   
   .input1{
   		scale:0.7
   		
   }
}