.investors{
    
	width:100vw;
	height:50vh;
	display:flex;
	align-items:center;
	justify-content:center;
	flex-direction:column;
	#meta_data{
		padding-top:10rem;
		font-family: 'Poppins', sans-serif;
	    font-size:2.5rem;
	    font-weight: 700;
	    color:white;
	    margin-bottom:2rem;
	}
	#outer_image{
		height:100%;
		width:100%;
		display:flex;
		justify-content:center;
		align-items:center;
		#img1{
			height:100%;
			width:10rem;
			background-image:url("../Assets/dsi_logo.svg");
			scale:1;
			background-repeat:no-repeat;
			background-size:contain;
		}
	}

}