@mixin center_item{
  display: flex;
  align-items:center;
  justify-content:center;
}
$mobile_width:50%;
$total_width:calc($mobile_width * 2);
$total_height:100%;
$each_button_width:calc($total_width * 2);

.outer_box1{
    width:100vw;
    height:100vh;
    margin-top:8rem;
    @include center_item;
    flex-direction:row;
    .first_box,.second_box1{
      width:50%;
      height:100%;
    }
    .first_box{
        .common{
          text-align:left;
          margin-left:2rem;
        }
        @include center_item;
        .input1{
          @include center_item;
          flex-direction:row;
          align-items:start;
          justify-content:start;
          margin:4rem 2rem;
          margin-top:calc(4vh + 4vw);
          margin-bottom:1rem;
          .otp_input{
            width:2rem;
            height:2rem;
            border-bottom:5px solid #9A9A9A;
            margin-right:10px;
          }
        }
        .outer_buttons_box{
            width:100%;
            height:calc($total_width * 0.1);
        }
        #buttons1{
            width:100%;
            height:100%;
            margin:0;
            #btn2-1{margin-left:calc($total_width / 50%)* 3rem;}
            #btn1-1{
                margin-left:4rem;
            }
            button {

              margin:0 0rem;
              margin-top:calc(0.4vh + 0.4vw);
              border: none;
              padding: 1em;
              outline: none;
              color: white;
              text-transform: uppercase;
              font-weight: 900;
              font-style: 1.2em;
              font-size:calc(0.5vw + 0.5vh);
              letter-spacing: 0.2em;
              position: relative;
              z-index: 1;
              cursor: pointer;
              background: none;
              text-shadow: 3px 3px 10px rgba(0,0,0,.45);
              &:before, &:after {
                position: absolute;
                top: 50%;
                left: 50%;
                border-radius: 10em;
                transform: translateX(- 50%) translateY(-50%);
                width: $each_button_width;
                height: 100%;

                content: '';
                z-index: -2;
                background-size: 400% 400%;
               background: linear-gradient(90deg, #752DD7 -12.09%, #D81981 100%);

              }
              &:before {
                filter: blur(7px);
                transition: all .25s ease;
                animation: pulse 10s infinite ease;
              }
              &:after {
                filter: blur(0.3px);
              }
              &:hover {
                &:before {
                  width: 115%;
                  height: 115%;
                }
              }
            }
        }
        .resend{
            margin-bottom:calc(($total_height / 20%) * 2rem);
        }
        #xeno{
            margin-bottom:3rem;
            margin-top:2rem;
            width:93%;
            font-family: 'Poppins', sans-serif;
            font-size:1.5rem;
            font-weight: 700;
            color:white;
            text-align:left;
            padding-left:0rem;

        }
        #title{
        
            width:90%;
            font-family: 'Poppins', sans-serif;
            font-size:2rem;
            font-weight: 700;
            color:white;
        }
        #title2{
            margin-bottom:2rem;
            width:90%;
            font-family: 'Poppins', sans-serif;
            font-size:2rem;
            font-weight: 700;
            background: rgb(219,50,235);
            background: linear-gradient(270deg, rgba(219,50,235,0.99327724253764) 7%, rgba(46,244,187,1) 100%); 
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        #meta{
          width:80%;
          margin-bottom:1rem;
          color: #9A9A9A;
          font-size:calc(0.7vw + 0.7vh);
        }
        .mobile{
            width:$mobile_width;
            height:100%;
            box-shadow: #CC1B8B 0px 22px 100px 4px;
        }

        .border-gradient {
                border: 5px solid;
                border-image-slice: 1;
                border-width: 2px;
          }
        .border-gradient-purple {
                border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
          }
    }
    .second_box1{
        
        .common{
          text-align:left;
        }
        #title,#title2{
                font-family: 'Poppins', sans-serif;
                font-size:2.5rem;
                font-weight: 700;
                color:white;
                
        }
        #title2{

          background: rgb(219,50,235);
          background: linear-gradient(270deg, rgba(219,50,235,0.99327724253764) 7%, rgba(46,244,187,1) 100%); 
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
    
        }
        #meta{
          color: #9A9A9A;
          font-size:calc(1vh + 1vw);
          padding-right:2rem;
          margin:3rem 0;
        }
    }
}
@media only screen and (max-height: 720px){
    .outer_box1{
        margin:8rem 0;
    }
    .first_box .mobile .resend{
        margin-bottom:calc(($total_height / 40%) * 2rem);
    }

}
@media only screen and (max-height: 620px){
   
    .first_box .mobile .input1{
        margin-top:calc(1vh + 1vw);
    }
    .first_box .mobile .resend{
        margin-bottom:calc(($total_height / 70%) * 1rem);
    }
}
@media only screen and (max-width: 860px){
   
   .outer_box1 .first_box .mobile{
        width:70%;
    }
}
 
@media only screen and (max-width: 1320px){
    .first_box .mobile #buttons1{
        text-align:center;
        display:flex;
        flex-direction:column;
        width:20%;
        #btn1-1,#btn2-1{
            margin-left:0;
            height:60%;
        }
    }
    .first_box .mobile .outer_buttons_box{
        display:flex;
        align-items:center;
        justify-content:center;

        
    }
}
@media only screen and (max-height: 600px){
  .outer_box1{
        height:130vh;
  }
   .first_box{
        .mobile .resend{
            margin-top:3rem;
            margin-bottom:3rem;
        }
   }
}